<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">&#220;ber</h2>
					<p>
						Diese Website befindet sich noch in Aufbau.<br>
						Wenn Sie einen Vorschlag f&#252;r einen Vortrag in deutscher Sprache einreichen m&#246;chten, senden Sie bitte eine Kurzbeschreibung des Vortrags an <a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a><br>
						Wenn Sie einen Vorschlag f&#252;r einen Vortrag in englischer Sprache einreichen m&#246;chten, senden Sie bitte eine Kurzbeschreibung des Vortrags an <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>
					</p>
                </div>
            </div>
        </div>
    </section>