<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p>
					We are working hard to get this Website up and running.<br>
					In the mean time, if you wish to Submit a session to be delivered in German then please email a session abstract to <a href="mailto:tobias.weltner@email.de">tobias.weltner@email.de</a><br>
					However if you wish to submit a session to be delivered in English then please email a session abstract to <a href="mailto:ryan.yates@kilasuit.org">ryan.yates@kilasuit.org</a>
					</p>
                </div>
            </div>
        </div>
    </section>